@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #333333;
}

body {
  background-color: #ffffff;
  z-index: 0;
  counter-reset: step;
  max-width: 800px;
  margin: auto;
}

#main {
  border: solid #ddd;
  border-width: 0 1px;
  padding: 30px;
  position: relative;
}

#title {
  font-size: 18pt;
  margin: 10px auto 0;
  background-color: #005F83;
  color: #FFF;
  padding: 2px 30px;
}

.note:before {
  position: absolute;
  left: -31px;
  content: " ";
  width: 30px;
  height: 100%;
  background: repeating-linear-gradient(180deg, #fff, #fff 24px, #0d8bec 25px);
  border: solid #ccc;
  border-width: 2px 0 2px 2px;
  border-right: pink 1px double;
  border-radius: 10px 0 0 10px;
  background-position: 0 10px;
  top: -2px;
}

.note {
  position: relative;
  padding: 10px;
  left: 31px;
  line-height: 25px;
  background: repeating-linear-gradient(180deg, #fff, #fff 24px, #0d8bec 25px);
  background-position: 0 10px;
  width: calc(100% - 36px);
  color: #001847;
  font-family: cursive;
  border: solid #ccc;
  border-width: 2px 2px 2px 0;
  border-radius: 0 10px 10px 0;
  margin: 20px 0;
  text-indent: 1em;
}

.note p {
  color: #001847;
  font-family: cursive;
  margin: 0;
}

.note p:first-line {
  padding-left: 20px;
}

.key {
  background: #78ad3c;
  padding: 10px 0 7px 110px;
  border-radius: 10px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
  margin: 50px 0;
  position: relative;
}

.key:before {
  content: "";
  background: url('key.png');
  background-size: cover;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 10px;
  top: -15px;
  border-radius: 50%;
  border: solid #fff 3px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border: solid 2px #005F83;
  border-radius: 10px;
}

tbody {
  border: solid 2px #005F83;
  border-radius: 10px;
  border-collapse: collapse;
}

th {
  background-color: #005F83;
  color: #FFF;
  padding: 2px 5px 3px;
  font-weight: 600;
}

td {
  padding: 2px 5px;
  border: solid #ccc;
  border-width: 0 1px 1px 0;
  margin: 0;
}

th:first-child {
  border-radius: 5px 0 0 0;
}

th:last-child {
  border-radius: 0 5px 0 0;
}

tr:last-child td {
  border-bottom: none;
}

tr:first-child * {
  border-top: none;
}

td:first-child,
th:first-child {
  border-left: none;
}

td:last-child,
th:last-child {
  border-right: none;
}


/* Annotation */

.sgnote {
  border: solid #005F83 2px;
  border-radius: 0 10px 10px 10px;
  color: #01507e;
  padding: 2px 5px;
}
