.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.040039;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.767578;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-1.312000px;}
.ls5{letter-spacing:-0.648000px;}
.ls3{letter-spacing:-0.312000px;}
.ls8{letter-spacing:-0.024000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.008000px;}
.ls2{letter-spacing:0.016000px;}
.ls7{letter-spacing:0.024000px;}
.ls6{letter-spacing:0.352000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._c{margin-left:-2.356000px;}
._0{margin-left:-1.232000px;}
._1{width:1.008000px;}
._2{width:2.312000px;}
._6{width:3.428000px;}
._b{width:5.440000px;}
._d{width:7.616000px;}
._e{width:8.852000px;}
._a{width:12.264000px;}
._3{width:52.096000px;}
._8{width:66.096000px;}
._9{width:80.096000px;}
._4{width:96.480000px;}
._7{width:108.096000px;}
._5{width:130.000000px;}
.fc4{color:rgb(5,99,193);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,112,192);}
.fc3{color:rgb(0,0,0);}
.fc2{color:rgb(0,176,80);}
.fs3{font-size:44.000000px;}
.fs4{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.fs2{font-size:64.000000px;}
.fs1{font-size:72.000000px;}
.y1{bottom:0.000000px;}
.y9{bottom:3.490000px;}
.y6{bottom:3.500000px;}
.ye{bottom:3.520000px;}
.yb{bottom:21.750000px;}
.y8{bottom:21.770000px;}
.y5{bottom:22.000000px;}
.yd{bottom:22.020000px;}
.y4a{bottom:40.270000px;}
.y22{bottom:76.025000px;}
.y6b{bottom:85.275000px;}
.y55{bottom:89.525000px;}
.y21{bottom:92.275000px;}
.y41{bottom:94.025000px;}
.y20{bottom:108.280000px;}
.y6a{bottom:118.800000px;}
.y1f{bottom:124.550000px;}
.y40{bottom:133.800000px;}
.y1e{bottom:140.550000px;}
.y56{bottom:152.000000px;}
.y69{bottom:154.050000px;}
.y1d{bottom:156.550000px;}
.y54{bottom:159.550000px;}
.y3f{bottom:164.800000px;}
.y68{bottom:170.050000px;}
.y0{bottom:170.500000px;}
.y1c{bottom:172.800000px;}
.y53{bottom:175.800000px;}
.y3e{bottom:190.300000px;}
.y52{bottom:191.800000px;}
.y1b{bottom:200.830000px;}
.y67{bottom:205.080000px;}
.y3d{bottom:206.330000px;}
.y66{bottom:221.330000px;}
.y51{bottom:227.080000px;}
.y1a{bottom:228.830000px;}
.y3c{bottom:234.580000px;}
.y19{bottom:245.080000px;}
.y23{bottom:248.500000px;}
.y3b{bottom:250.580000px;}
.y65{bottom:256.330000px;}
.y50{bottom:262.080000px;}
.y3a{bottom:266.580000px;}
.y18{bottom:273.080000px;}
.y39{bottom:282.850000px;}
.y64{bottom:291.350000px;}
.y4f{bottom:297.100000px;}
.y17{bottom:298.600000px;}
.y38{bottom:298.850000px;}
.y63{bottom:307.600000px;}
.y37{bottom:315.100000px;}
.y16{bottom:323.850000px;}
.y36{bottom:331.100000px;}
.y4e{bottom:332.350000px;}
.y15{bottom:341.350000px;}
.y62{bottom:342.600000px;}
.y35{bottom:347.100000px;}
.y4d{bottom:348.350000px;}
.y14{bottom:366.630000px;}
.y34{bottom:375.380000px;}
.y61{bottom:377.880000px;}
.y4c{bottom:383.380000px;}
.y13{bottom:384.130000px;}
.y60{bottom:393.880000px;}
.y4b{bottom:399.630000px;}
.y33{bottom:403.380000px;}
.y12{bottom:409.380000px;}
.y32{bottom:419.630000px;}
.y42{bottom:423.500000px;}
.y49{bottom:424.130000px;}
.y5f{bottom:428.880000px;}
.y11{bottom:434.900000px;}
.y31{bottom:435.650000px;}
.y10{bottom:460.150000px;}
.y30{bottom:463.650000px;}
.y5e{bottom:464.150000px;}
.yf{bottom:473.650000px;}
.y2f{bottom:479.900000px;}
.y5d{bottom:480.150000px;}
.y2e{bottom:504.900000px;}
.yc{bottom:510.900000px;}
.y5c{bottom:515.420000px;}
.y48{bottom:517.170000px;}
.y5b{bottom:531.420000px;}
.y2d{bottom:533.930000px;}
.ya{bottom:548.420000px;}
.y47{bottom:554.420000px;}
.y2c{bottom:561.920000px;}
.y5a{bottom:566.420000px;}
.y2b{bottom:578.170000px;}
.y7{bottom:585.680000px;}
.y46{bottom:591.680000px;}
.y2a{bottom:594.200000px;}
.y59{bottom:601.700000px;}
.y29{bottom:610.450000px;}
.y4{bottom:622.950000px;}
.y28{bottom:626.450000px;}
.y58{bottom:636.700000px;}
.y27{bottom:642.450000px;}
.y45{bottom:651.200000px;}
.y26{bottom:658.700000px;}
.y44{bottom:667.200000px;}
.y57{bottom:671.950000px;}
.y3{bottom:673.970000px;}
.y25{bottom:674.720000px;}
.y6d{bottom:681.720000px;}
.y24{bottom:690.970000px;}
.y43{bottom:703.220000px;}
.y2{bottom:706.970000px;}
.y6c{bottom:708.470000px;}
.hf{height:0.500000px;}
.h10{height:36.398438px;}
.h4{height:36.750000px;}
.h6{height:36.765000px;}
.hc{height:36.775000px;}
.h7{height:37.025000px;}
.ha{height:45.740234px;}
.hd{height:55.275000px;}
.he{height:57.312500px;}
.h8{height:58.214844px;}
.h2{height:59.117188px;}
.h5{height:66.531250px;}
.h3{height:73.687500px;}
.hb{height:205.500000px;}
.h9{height:408.500000px;}
.h1{height:489.500000px;}
.h0{height:792.000000px;}
.w4{width:181.070000px;}
.w3{width:184.080000px;}
.w8{width:193.080000px;}
.w5{width:214.100000px;}
.w9{width:300.500000px;}
.w6{width:373.000000px;}
.w1{width:581.000000px;}
.w7{width:590.000000px;}
.w2{width:611.999991px;}
.w0{width:612.000000px;}
.x1{left:0.000009px;}
.x3{left:5.250000px;}
.x8{left:9.000000px;}
.x0{left:18.000000px;}
.x2{left:72.024991px;}
.x6{left:108.049991px;}
.x7{left:126.049991px;}
.x4{left:202.830000px;}
.x5{left:384.400000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-1.749333pt;}
.ls5{letter-spacing:-0.864000pt;}
.ls3{letter-spacing:-0.416000pt;}
.ls8{letter-spacing:-0.032000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.010667pt;}
.ls2{letter-spacing:0.021333pt;}
.ls7{letter-spacing:0.032000pt;}
.ls6{letter-spacing:0.469333pt;}
.ws0{word-spacing:0.000000pt;}
._c{margin-left:-3.141333pt;}
._0{margin-left:-1.642667pt;}
._1{width:1.344000pt;}
._2{width:3.082667pt;}
._6{width:4.570667pt;}
._b{width:7.253333pt;}
._d{width:10.154667pt;}
._e{width:11.802667pt;}
._a{width:16.352000pt;}
._3{width:69.461333pt;}
._8{width:88.128000pt;}
._9{width:106.794667pt;}
._4{width:128.640000pt;}
._7{width:144.128000pt;}
._5{width:173.333333pt;}
.fs3{font-size:58.666667pt;}
.fs4{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.fs2{font-size:85.333333pt;}
.fs1{font-size:96.000000pt;}
.y1{bottom:0.000000pt;}
.y9{bottom:4.653333pt;}
.y6{bottom:4.666667pt;}
.ye{bottom:4.693333pt;}
.yb{bottom:29.000000pt;}
.y8{bottom:29.026667pt;}
.y5{bottom:29.333333pt;}
.yd{bottom:29.360000pt;}
.y4a{bottom:53.693333pt;}
.y22{bottom:101.366667pt;}
.y6b{bottom:113.700000pt;}
.y55{bottom:119.366667pt;}
.y21{bottom:123.033333pt;}
.y41{bottom:125.366667pt;}
.y20{bottom:144.373333pt;}
.y6a{bottom:158.400000pt;}
.y1f{bottom:166.066667pt;}
.y40{bottom:178.400000pt;}
.y1e{bottom:187.400000pt;}
.y56{bottom:202.666667pt;}
.y69{bottom:205.400000pt;}
.y1d{bottom:208.733333pt;}
.y54{bottom:212.733333pt;}
.y3f{bottom:219.733333pt;}
.y68{bottom:226.733333pt;}
.y0{bottom:227.333333pt;}
.y1c{bottom:230.400000pt;}
.y53{bottom:234.400000pt;}
.y3e{bottom:253.733333pt;}
.y52{bottom:255.733333pt;}
.y1b{bottom:267.773333pt;}
.y67{bottom:273.440000pt;}
.y3d{bottom:275.106667pt;}
.y66{bottom:295.106667pt;}
.y51{bottom:302.773333pt;}
.y1a{bottom:305.106667pt;}
.y3c{bottom:312.773333pt;}
.y19{bottom:326.773333pt;}
.y23{bottom:331.333333pt;}
.y3b{bottom:334.106667pt;}
.y65{bottom:341.773333pt;}
.y50{bottom:349.440000pt;}
.y3a{bottom:355.440000pt;}
.y18{bottom:364.106667pt;}
.y39{bottom:377.133333pt;}
.y64{bottom:388.466667pt;}
.y4f{bottom:396.133333pt;}
.y17{bottom:398.133333pt;}
.y38{bottom:398.466667pt;}
.y63{bottom:410.133333pt;}
.y37{bottom:420.133333pt;}
.y16{bottom:431.800000pt;}
.y36{bottom:441.466667pt;}
.y4e{bottom:443.133333pt;}
.y15{bottom:455.133333pt;}
.y62{bottom:456.800000pt;}
.y35{bottom:462.800000pt;}
.y4d{bottom:464.466667pt;}
.y14{bottom:488.840000pt;}
.y34{bottom:500.506667pt;}
.y61{bottom:503.840000pt;}
.y4c{bottom:511.173333pt;}
.y13{bottom:512.173333pt;}
.y60{bottom:525.173333pt;}
.y4b{bottom:532.840000pt;}
.y33{bottom:537.840000pt;}
.y12{bottom:545.840000pt;}
.y32{bottom:559.506667pt;}
.y42{bottom:564.666667pt;}
.y49{bottom:565.506667pt;}
.y5f{bottom:571.840000pt;}
.y11{bottom:579.866667pt;}
.y31{bottom:580.866667pt;}
.y10{bottom:613.533333pt;}
.y30{bottom:618.200000pt;}
.y5e{bottom:618.866667pt;}
.yf{bottom:631.533333pt;}
.y2f{bottom:639.866667pt;}
.y5d{bottom:640.200000pt;}
.y2e{bottom:673.200000pt;}
.yc{bottom:681.200000pt;}
.y5c{bottom:687.226667pt;}
.y48{bottom:689.560000pt;}
.y5b{bottom:708.560000pt;}
.y2d{bottom:711.906667pt;}
.ya{bottom:731.226667pt;}
.y47{bottom:739.226667pt;}
.y2c{bottom:749.226667pt;}
.y5a{bottom:755.226667pt;}
.y2b{bottom:770.893333pt;}
.y7{bottom:780.906667pt;}
.y46{bottom:788.906667pt;}
.y2a{bottom:792.266667pt;}
.y59{bottom:802.266667pt;}
.y29{bottom:813.933333pt;}
.y4{bottom:830.600000pt;}
.y28{bottom:835.266667pt;}
.y58{bottom:848.933333pt;}
.y27{bottom:856.600000pt;}
.y45{bottom:868.266667pt;}
.y26{bottom:878.266667pt;}
.y44{bottom:889.600000pt;}
.y57{bottom:895.933333pt;}
.y3{bottom:898.626667pt;}
.y25{bottom:899.626667pt;}
.y6d{bottom:908.960000pt;}
.y24{bottom:921.293333pt;}
.y43{bottom:937.626667pt;}
.y2{bottom:942.626667pt;}
.y6c{bottom:944.626667pt;}
.hf{height:0.666667pt;}
.h10{height:48.531250pt;}
.h4{height:49.000000pt;}
.h6{height:49.020000pt;}
.hc{height:49.033333pt;}
.h7{height:49.366667pt;}
.ha{height:60.986979pt;}
.hd{height:73.700000pt;}
.he{height:76.416667pt;}
.h8{height:77.619792pt;}
.h2{height:78.822917pt;}
.h5{height:88.708333pt;}
.h3{height:98.250000pt;}
.hb{height:274.000000pt;}
.h9{height:544.666667pt;}
.h1{height:652.666667pt;}
.h0{height:1056.000000pt;}
.w4{width:241.426667pt;}
.w3{width:245.440000pt;}
.w8{width:257.440000pt;}
.w5{width:285.466667pt;}
.w9{width:400.666667pt;}
.w6{width:497.333333pt;}
.w1{width:774.666667pt;}
.w7{width:786.666667pt;}
.w2{width:815.999988pt;}
.w0{width:816.000000pt;}
.x1{left:0.000012pt;}
.x3{left:7.000000pt;}
.x8{left:12.000000pt;}
.x0{left:24.000000pt;}
.x2{left:96.033321pt;}
.x6{left:144.066655pt;}
.x7{left:168.066655pt;}
.x4{left:270.440000pt;}
.x5{left:512.533333pt;}
}
